<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shirley.com.sudoku"
    android:versionCode="1"
    android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 网络通信-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />  <!-- 获取设备信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取MAC地址-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 读写sdcard，storage等等 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <!-- 友盟更新开始 -->
        <!-- <service -->
        <!-- android:name="com.umeng.update.net.DownloadingService" -->
        <!-- android:process=":DownloadingService" > -->
        <!-- </service> -->
        <!-- <activity -->
        <!-- android:name="com.umeng.update.UpdateDialogActivity" -->
        <!-- android:theme="@android:style/Theme.Translucent.NoTitleBar" > -->
        <!-- </activity> -->
        <!-- 友盟更新结束 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5729986fe0f55a7ba7000102" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="update" />

        <meta-data
            android:name="PGYER_APPID"
            android:value="b18636cdccbb6cc1b264d5eb8a09aa30" >
        </meta-data>

        <activity android:name=".SettingActivity"></activity>
    </application>

</manifest>
