<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shirley.com.sudoku">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        <uses-permission android:name="android.permission.INTERNET"></uses-permission>
        <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

        <activity android:name="shirley.com.sudoku.MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="shirley.com.sudoku.MainActivity"></activity>

        <!--友盟更新开始-->
        <!--<service-->
            <!--android:name="com.umeng.update.net.DownloadingService"-->
            <!--android:process=":DownloadingService" >-->
        <!--</service>-->
        <!--<activity-->
            <!--android:name="com.umeng.update.UpdateDialogActivity"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" >-->
        <!--</activity>-->
        <!--友盟更新结束-->
    </application>

    <meta-data android:value="5729986fe0f55a7ba7000102" android:name="UMENG_APPKEY"></meta-data>
    <meta-data android:value="update" android:name="UMENG_CHANNEL"/>

</manifest>
